<div class="container">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2 class="h2">Books List</h2>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Author</th>
          <th scope="col">Genre</th>
          <th scope="col">Description</th>
          <th class="text-center" scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books; let i = index">
          <th scope="row">{{book?._id}}</th>
          <td>{{book.name}}</td>
          <td>{{book.price}}</td>
          <td>{{book.author}}</td>
          <td>{{book.genre}}</td>
          <td>{{book.description}}</td>
          <td class="text-center d-flex justify-content-around">
            <!-- <template v-if="isAdmin"> -->
            <button *ngIf="authService.isAdmin()" class="btn  btn-sm btn-primary" routerLink="/edit-book/{{book?._id}}">
              <i class="material-icons md-36">edit</i>
            </button>
            <button *ngIf="authService.isAdmin()" class="btn  btn-sm btn-danger" (click)="deleteBook(book?._id, i)">
              <i class="material-icons md-36">delete</i>
            </button>
            <!-- </template> -->
            <!-- <button class="btn btn-sm"> -->

            <!-- </button> -->
            <button *ngIf="!authService.isAdmin()" class="btn  btn-sm btn-primary" (click)="onAddToCart(book)">
              <i class="material-icons md-36">add_shopping_cart</i>
            </button>
        </tr>
      </tbody>
    </table>
  </div>
</div>