<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-7">
            <div class="card p-3 py-4">
                <div class="text-center">
                    <img [src]="selectedFileUrl || user?.photo" width="350" class="rounded-circle">
                </div>

                <form class="text-center form ">
                    <div class="form-group text-center d-flex align-items-center justify-content-center">
                        <label for="fileInput" class="custom-file-upload text-center">
                            <i class="material-icons">cloud_upload</i> Upload Image
                        </label>
                        <input type="file" accept="image/*" id="fileInput" (change)="onFileSelected($event)">
                    </div>
                    <!-- <div class="image-preview" *ngIf="selectedFile">
                        <img [src]="selectedFileUrl" alt="Selected Image">
                    </div> -->
                    <button type="submit" class="mt-10 green-btn save-btn custom-file-upload text-center "
                        [disabled]="!selectedFile" (click)="onSubmit()">Save</button>
                </form>
                <div class="text-center mt-3">
                    <span class="bg-secondary p-1 px-4 rounded text-white">{{user?.isAdmin ? "Admin" : "User" }}</span>
                    <h5 class="mt-2 mb-0">{{user?.name}}</h5>
                    <span>{{user?.email}}</span>
                    <div class="buttons d-flex justify-content-center align-items-center">
                        <button class="btn mt-16 text-centerbtn-outline-primary px-4 d-flex"
                            (click)="signOut(user?._id)">
                            Sign Out
                            <i class="material-icons">exit_to_app</i>
                        </button>

                        <!-- <button class="btn btn-primary px-4 ms-3">Contact</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>